<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Test.CoreMvc</title>

    <environment include="Development">
        <!-- Vendor CSS -->
        <link href="~/lib/animate.css/animate.min.css" rel="stylesheet">
        <link href="~/lib/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
        <link href="~/lib/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
        <link href="~/lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">
        <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">        

        <!-- CSS -->
        <link href="~/css/app_1.min.css" rel="stylesheet">
        <link href="~/css/app_2.min.css" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/integrate.min.css.gz" asp-append-version="true" />
    </environment>
    
</head>
<body>
    <header id="header" class="clearfix" data-ma-theme="blue">
        <ul class="h-inner">
            <li class="hi-trigger ma-trigger" data-ma-action="sidebar-open" data-ma-target="#sidebar">
                <div class="line-wrap">
                    <div class="line top"></div>
                    <div class="line center"></div>
                    <div class="line bottom"></div>
                </div>
            </li>

            <li class="hi-logo hidden-xs">
                <a asp-area="" asp-controller="Dashboard" asp-action="Index">MATERIAL ADMIN</a>
            </li>

            <li class="pull-right">
                <ul class="hi-menu">

                    <li data-ma-action="search-open">
                        <a href=""><i class="him-icon zmdi zmdi-search"></i></a>
                    </li>


                    <li class="dropdown">
                        <a data-toggle="dropdown" href=""><i class="him-icon zmdi zmdi-more-vert"></i></a>
                        <ul class="dropdown-menu dm-icon pull-right">
                            <li class="skin-switch hidden-xs">
                                <span class="ss-skin bgm-lightblue" data-ma-action="change-skin" data-ma-skin="lightblue"></span>
                                <span class="ss-skin bgm-bluegray" data-ma-action="change-skin" data-ma-skin="bluegray"></span>
                                <span class="ss-skin bgm-cyan" data-ma-action="change-skin" data-ma-skin="cyan"></span>
                                <span class="ss-skin bgm-teal" data-ma-action="change-skin" data-ma-skin="teal"></span>
                                <span class="ss-skin bgm-orange" data-ma-action="change-skin" data-ma-skin="orange"></span>
                                <span class="ss-skin bgm-blue" data-ma-action="change-skin" data-sma-kin="blue"></span>
                            </li>
                            <li class="divider hidden-xs"></li>
                            <li class="hidden-xs">
                                <a data-ma-action="fullscreen" href=""><i class="zmdi zmdi-fullscreen"></i> Toggle Fullscreen</a>
                            </li>
                            <li>
                                <a data-ma-action="clear-localstorage" href=""><i class="zmdi zmdi-delete"></i> ELiminar archivos</a>
                            </li>
                            <li>
                                <a href=""><i class="zmdi zmdi-face"></i> Perfil de Usuario</a>
                            </li>
                            <li>
                                <a href=""><i class="zmdi zmdi-settings"></i> Restriccion</a>
                            </li>
                            <li class="divider hidden-xs"></li>
                            <li>
                                <a asp-area="" asp-controller="Account" asp-action="Logout"><i class="zmdi zmdi-settings"></i> Cerrar Sesi&oacute;n</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- Top Search Content -->
        <div class="h-search-wrap">
            <div class="hsw-inner">
                <i class="hsw-close zmdi zmdi-arrow-left" data-ma-action="search-close"></i>
                <input type="text">
            </div>
        </div>
    </header>

    <section id="main">
        <aside id="sidebar" class="sidebar c-overflow">
            <div class="s-profile">
                <a href="" data-ma-action="profile-menu-toggle">
                    <div class="sp-pic">
                        <img src="~/img/demo/1.jpg" alt="">
                    </div>

                    <div class="sp-info">
                        @Model.Usuario
                        <i class="zmdi zmdi-caret-down"></i>
                    </div>
                </a>

                <ul class="main-menu">
                    @foreach (var item in @Model.ListApp)
                    {
                        <li>                            
                            <a asp-area="" asp-controller="Dashboard" asp-action="Index" asp-route-app=@item.aplicacionsap >
                                <i class="zmdi zmdi-account"></i> @item.descripcionsap
                            </a>
                        </li>
                    }
                </ul>
            </div>

            <ul class="main-menu">
                @foreach (var item in @Model.ListPages)
                {
                    <li class="@(@ViewContext.RouteData.Values["Page"].ToString().Split('/')[1].ToString() == @item.nombrespg && 
                                 @ViewContext.RouteData.Values["Page"].ToString().Split('/')[2].ToString() == @item.nombremenuspg ? "active" : "")">                    
                        <a asp-area="" asp-controller=@item.nombrespg asp-action=@item.nombremenuspg><i class="zmdi zmdi-home"></i> @item.descripcionspg</a>
                    </li>
                }
            </ul>            
        </aside>


        <section id="content">
            <div class="container">
                @RenderBody()
            </div>
        </section>
    </section>

    <footer id="footer">
        Copyright &copy; 2017 Material Admin

        <ul class="f-menu">
            @foreach (var item in @Model.ListApp)
            {
                <li>
                    <a asp-area="" asp-controller="Dashboard" asp-action="Index" asp-route-app=@item.aplicacionsap>
                        @item.descripcionsap
                    </a>
                </li>
            }            
        </ul>
    </footer>

    <!-- Page Loader -->
    <div class="page-loader">
        <div class="preloader pls-blue">
            <svg class="pl-circular" viewBox="25 25 50 50">
                <circle class="plc-path" cx="50" cy="50" r="20" />
            </svg>

            <p>Por favor espere...</p>
        </div>
    </div>

    <!-- Older IE warning message -->
    <!--[if lt IE 9]>
        <div class="ie-warning">
            <h1 class="c-white">Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="img/browsers/chrome.png" alt="">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="img/browsers/firefox.png" alt="">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="img/browsers/opera.png" alt="">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="img/browsers/safari.png" alt="">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="img/browsers/ie.png" alt="">
                            <div>IE (New)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
    
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    
        <script src="~/lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="~/lib/Waves/dist/waves.min.js"></script>
        <script src="~/material-admin/bootstrap-growl/bootstrap-growl.min.js"></script>
        <script src="~/lib/sweetalert2/dist/sweetalert2.min.js"></script>
        <script src="~/lib/autosize/dist/autosize.min.js"></script>
        <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>        
        <script src="~/js/app.min.js"></script>
        
        <script src="~/lib/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    </environment>
    <environment exclude="Development">        
        <script src="~/js/integrate.min.js.gz" asp-append-version="true"></script>        
        <script src="~/lib/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    </environment>   
    
<script>
    //PopUp
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('[data-toggle="popover"]').popover();              
    });

    $(document).on('show.bs.popover', function (e) {
        if ($(e.target).data('trigger') == 'click') {
            var timeoutDataName = 'shownBsTooltipTimeout';
            if ($(e.target).data(timeoutDataName) != null) {
                clearTimeout($(e.target).data(timeoutDataName));
            }
            var timeout = setTimeout(function () {
                $(e.target).click();
            }, 3000);
            $(e.target).data(timeoutDataName, timeout);
        }
    });

    $(document).on('hide.bs.popover', function (e) {
        if ($(e.target).data('trigger') == 'click') {
            var timeoutDataName = 'shownBsTooltipTimeout';
            if ($(e.target).data(timeoutDataName) != null) {
                clearTimeout($(e.target).data(timeoutDataName));
            }
        }
    });
</script>
@RenderSection("Scripts", required: false)
    
</body>
</html>
